<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
          "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:h="http://java.sun.com/jsf/html"
      xmlns:ui="http://java.sun.com/jsf/facelets">
<h:head>
  <link rel="stylesheet" type="text/css" href="#{facesContext.externalContext.requestContextPath}/css/style.css"/>
  <link rel="stylesheet" type="text/css" href="#{facesContext.externalContext.requestContextPath}/css/tableStyle.css"/>
  <title>Loddy</title>
</h:head>

<h:body>
<ui:debug hotkey="x" rendered="#{initParam['javax.faces.FACELETS_DEVELOPMENT']}"/>

	<div id="container">
		<div id="header">
			<ui:insert name="header">
			</ui:insert>
		</div>
		<div id="content">
		  <ui:insert name="content">
		  </ui:insert>
		</div>
		<div id="footer">
			<ui:insert name="footer" >
			</ui:insert>
			<div class="powered">
				<h:outputLabel>Powered by </h:outputLabel><h:outputLink value="https://bitbucket.org/art-uniroma2/loddy/downloads">Loddy</h:outputLink>
			</div>
		</div>
	</div>

</h:body>

</html>
