<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core">
	
<ui:composition template="/WEB-INF/templates/two_column_template.xhtml">

	<ui:define name="header">
		<h:outputLink value="#{formatterBean.formatLink(connectionBean.requestedResourceUri)}">
			<h:outputText value="#{connectionBean.requestedResourceUri}"/>
		</h:outputLink><br/>
		<h:outputText value="#{bestChoiceLabelBean.bestChoiceLabel}"/>
	</ui:define>
	
	<ui:define name="left">

		<ui:repeat var="groupedStat" value="#{graphGrouperCollectionStruct.group()}">
			<h:dataTable var="predicate" value="#{groupedStat.getPredicates()}"
			styleClass="customTable"
			headerClass="customTableHeader"
			rowClasses="customTableOddRow,customTableEvenRow">
				<h:column>
					<f:facet name="header">Property</f:facet>
					<h:outputLink value="#{formatterBean.formatLink(predicate)}">   
						<h:outputText value="#{formatterBean.formatText(predicate)}"/>
					</h:outputLink>
				</h:column>
				<h:column>
					<f:facet name="header">Value</f:facet> 
					<ui:repeat var="object" value="#{groupedStat.getObjects(predicate)}">
						<h:outputLink rendered="#{formatterBean.isLink(object)}" value="#{formatterBean.formatLink(object)}">
	        				<h:outputText value="#{formatterBean.formatText(object)}"/>
	        			</h:outputLink> 
						<h:outputText rendered="#{!formatterBean.isLink(object)}" value="#{object}" />
						<br/>
					</ui:repeat> 
				</h:column>
			</h:dataTable><br/>
		</ui:repeat>
		
		<!-- COLLECTIONS: LEFT COLUMN : SECOND GROUP -->
	
		<!-- use the same as per concept, as it is only for sorting the remaining predicated putting a few on top
		 TODO: if it is really generic, then rename it so that the name concept is no more inside it 
		-->
		
		<ui:repeat var="groupedStat" value="#{graphGrouperConceptNoStruct.group()}">
			<h:dataTable var="predicate" value="#{groupedStat.getPredicates()}"
			styleClass="customTable"
			headerClass="customTableHeader"
			rowClasses="customTableOddRow,customTableEvenRow">
				<h:column>
					<f:facet name="header">Property</f:facet>
					<h:outputLink value="#{formatterBean.formatLink(predicate)}">   
						<h:outputText value="#{formatterBean.formatText(predicate)}"/>
					</h:outputLink>
				</h:column>
				<h:column>
					<f:facet name="header">Value</f:facet> 
					<ui:repeat var="object" value="#{groupedStat.getObjects(predicate)}">
						<h:outputLink rendered="#{formatterBean.isLink(object)}" value="#{formatterBean.formatLink(object)}">
	        				<h:outputText value="#{formatterBean.formatText(object)}"/>
	        			</h:outputLink> 
						<h:outputText rendered="#{!formatterBean.isLink(object)}" value="#{object}" />
						<br/>
					</ui:repeat> 
				</h:column>
			</h:dataTable><br/>
		</ui:repeat>
		
	</ui:define>
	
	<ui:define name="right">		
		<h:dataTable var="langNodes" value="#{tupleGrouperLabel.group().getRootNode().getChildren()}"
		styleClass="customTable"
		headerClass="customTableHeader"
		rowClasses="customTableOddRow,customTableEvenRow">
			<h:column>
				<f:facet name="header">prefLabel</f:facet>
				<ui:repeat var="prefTuple" value="#{langNodes.getChildWithValue('http://www.w3.org/2008/05/skos-xl#prefLabel').getTuples()}" >
					<h:outputLink value="#{formatterBean.formatLink(prefTuple.getBinding('uri').getBoundValue().getNominalValue())}">
						<h:outputText value="#{prefTuple.getBinding('lexical').getBoundValue().getNominalValue()}"/><br/>
					</h:outputLink>
				</ui:repeat>
			</h:column>
			<h:column>
				<f:facet name="header">altLabel</f:facet>
				<ui:repeat var="altTuple" value="#{langNodes.getChildWithValue('http://www.w3.org/2008/05/skos-xl#altLabel').getTuples()}" >
					<h:outputLink value="#{formatterBean.formatLink(altTuple.getBinding('uri').getBoundValue().getNominalValue())}">
						<h:outputText value="#{altTuple.getBinding('lexical').getBoundValue().getNominalValue()}"/><br/>
					</h:outputLink>
				</ui:repeat>
			</h:column>
			<h:column>
				<f:facet name="header">Lang</f:facet>
				<h:outputText value="#{langNodes.value}"/>
			</h:column>
		</h:dataTable><br/>
	</ui:define>
	
	<ui:define name="footer">
		<h:outputLink value="#{dispatcherBean.getLinkForFormat('rdf')}">
			<h:outputText value="As RDF/XML"/>
		</h:outputLink>
		 | 
		<h:outputLink value="#{dispatcherBean.getLinkForFormat('ttl')}">
			<h:outputText value="As TURTLE"/>
		</h:outputLink>
		|
		<h:outputLink value="#{dispatcherBean.getLinkForFormat('nt')}">
			<h:outputText value="As NT"/>
		</h:outputLink>
	</ui:define>
	
</ui:composition>

</html> 