<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core">
	
<ui:composition template="/WEB-INF/templates/basic_template.xhtml">
	
	<ui:define name="header">
		<h:outputText value="An exception has occurred"/><br />
	</ui:define>
	
	<ui:define name="content">
		<h:panelGrid columns="2" cellspacing="5" border="0" styleClass="customTable" rowClasses="customTableOddRow,customTableEvenRow">
			<h:outputText value="Request resource: " />
			<h:outputText value="#{exceptionHandler.requestURI}" />
			<h:outputText value="Exception type:" />
			<h:outputText value="#{exceptionHandler.exceptionType}" />
			<h:outputText value="Exception Message: " />
			<h:outputText value="#{exceptionHandler.message}" />
		</h:panelGrid>
	</ui:define>
	
</ui:composition>

</html> 