<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core">
	
<ui:composition template="/WEB-INF/templates/basic_template.xhtml">

	<ui:define name="header">
		<h:outputLink value="#{connectionBean.requestedResourceUri}">
			<h:outputText value="#{connectionBean.requestedResourceUri}"/>
		</h:outputLink>
	</ui:define>
	
	<ui:define name="content">
		<ui:repeat var="groupedStat" value="#{graphGrouperLabel.group()}">
		
				<h:dataTable var="predicate" value="#{groupedStat.getPredicates()}"
				styleClass="customTable"
				headerClass="customTableHeader"
				rowClasses="customTableOddRow,customTableEvenRow">
					<h:column>
						<f:facet name="header">Property</f:facet>
						<h:outputLink value="#{formatterBean.formatLink(predicate)}">   
							<h:outputText value="#{formatterBean.formatText(predicate)}"/>
						</h:outputLink>
					</h:column>
					<h:column>
						<f:facet name="header">Value</f:facet> 
						<ui:repeat var="object" value="#{groupedStat.getObjects(predicate)}">
							<h:outputLink rendered="#{formatterBean.isLink(object)}" value="#{formatterBean.formatLink(object)}">
	        					<h:outputText value="#{formatterBean.formatText(object)}"/>
	        				</h:outputLink> 
							<h:outputText rendered="#{!formatterBean.isLink(object)}" value="#{formatterBean.formatText(object)}" />
							<br/>
						</ui:repeat> 
					</h:column>
				</h:dataTable><br/>
		</ui:repeat>
	</ui:define>
	
	<ui:define name="footer">
		<h:outputLink value="#{dispatcherBean.getLinkForFormat('rdf')}">
			<h:outputText value="As RDF/XML"/>
		</h:outputLink>
		| 
		<h:outputLink value="#{dispatcherBean.getLinkForFormat('ttl')}">
			<h:outputText value="As TURTLE"/>
		</h:outputLink>
		|
		<h:outputLink value="#{dispatcherBean.getLinkForFormat('nt')}">
			<h:outputText value="As NT"/>
		</h:outputLink>
	</ui:define>
	
</ui:composition>

</html> 